<div class="col-md-12">
  <div class="col-md-6">
    <h1>Admin area</h1>
  </div>
  <div class="col-md-4">
    <button>
      <a [routerLink]="['/admin/new-product']">
        Añadir Productos
      </a>
    </button>
  </div>
</div>
<hr>

<div class="row top30">
  <div class="col-md-12">
    <table class="table table-danger">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Precio</th>
        <th>Descripcion</th>
        <th>Acción</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id}}</td>
        <td> {{ product.name}} </td>
        <td> {{ product.price }} </td>
        <td> {{ product.description }} </td>
        <td>
          <button (click)='deleteClient(product.id)'>
            <a [routerLink]="['/admin']">
              Delete
            </a>
          </button>
          <button>
            <a [routerLink]="['/productos', product.id]">
              Details
            </a>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<router-outlet></router-outlet>
